<h1>About <%= @album.name %> <%= '(Live)' if @album.live %></h1>

Album name: <%= @album.name %>
<br>

Year: <%= @album.year %>
<br>

Band: <%= @album.band.name %>
<br>

<br>
<a href="<%= edit_album_url(@album) %>"><button>Edit Album</button></a>

<a href="<%= band_url(@album.band) %>"><button>Back to <%= @album.band.name %></button></a>